future
emoji
requests
sqlalchemy
python-telegram-bot>=10.1.0
psycopg2-binary
pyowm
urbandictionary
bs4
lxml
demjson
PyLyrics
wget
gTTS
telegram
zalgo_text
pynewtonmath
wikipedia
urllib3
aiohttp>=2.2.5
Pillow>=4.2.0
gsearch
googletrans
